@font-face { font-family: nm; src: url('./fonts/font.otf'); }

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}
  
#input{
    margin-top: 25px;
    font-size: 15px;
    font-family: nm;
    margin-bottom: 50px;
}

.input{
    width: 300px;
    
}

#name{
    margin-top: 25px;
    font-size: 15px;
    font-family: nm;
    margin-bottom: 10px;
}

#p5{
    align-items: center;
    justify-items: center;
}

#p5 canvas {
    width: 100% !important;
    height: auto !important;
}