body{
    height: 100vh;
    font-family:'Space Mono';
    background-color: #e6e6f0 !important;
    text-align: center;
    justify-content: center;
    padding: 10vh 0;
}

.input{
    max-width: 350px;
    margin: 1% auto;
}

.p5{
    margin: 1% auto;
}

#p5 canvas{
    width: 100% !important;
    height: auto !important;
    max-width: 500px;
    border-radius: 12px;
}
